.book-container {
  width: 400px;
  margin: 100px auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.book-container h2 {
  color: #00308f;
}

.book-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.book-form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #0c3b2e;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #095c45;
}

.book-message {
  margin-top: 10px;
  color: #00308f;
}
